
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}

.buttonTypography {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}